<div class="row">
  <div class="col-9">
    <div>{{ product.name }}</div>
    <div>Marca: {{ product.brand }}</div>
  </div>
  <div class="col-3">
    <div>{{ product.price }}</div>
  </div>

  <div class="col-5">
    <div>
      <div>
        <img style="width: 100%" [src]="product.image" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center" *ngFor="let image of product.images" >
        <img style="width: 100%" [src]="product.image" alt="">
      </div>
    </div>
  </div>
  <div class="col-5">
    <!--<div>{{ 'Caracteristicas: {0}, {1} ...' | scan: [ product.descriptions[0], product.descriptions[1] ] }}</div>-->
    <div *ngFor="let description of product.descriptions" >
      <!--{{ description | uppercase | slice:0:50 }}-->
      {{ description }}
    </div>
  </div>
</div>
