
<div class="row">
  <div class="col-12">
<!--    <app-search-bar
      [value]="productTextBox"
      (valueChange)="productTextBoxChange($event)"
    >
    </app-search-bar>-->

    <app-search-bar [(value)]="productTextBox">
    </app-search-bar>
  </div>
</div>
<br>
<div class="row">
  <div class="col-4 mb-1" *ngFor="let product of productsFiltered"
       [routerLink]="['/products/detail', product.slug]">
    <div class="card" style="height: 450px;">
      <div class="p-4">
        <img [src]="product.image" [alt]="product.name" style="width: 100%;">
      </div>
      <div class="card-body">
        <div class="card-title">{{ product.name | slice:0:50 }}</div>
        <div>{{ product.price | currency:'PEN' }}</div>
      </div>
    </div>
  </div>
</div>
