/* You can add global styles to this file, and also import other style files */
    html, body {
      margin: 0;
      height: 100%;
    }
    header {
      background-color: #EEEEEE;
      padding: 20px;
      text-align: center;
      font-size: 35px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
    }

    aside {
      background: #EEEEEE;
      float: left;
      width: calc(23.3% - 25px);
      height: 100% ;
      padding: 10px;
      margin: 10px 5px 10px 0;
    }

    a {
      color: #2196F3;
    }

    .active a {
      color: #FF9800;
    }

    section {
      background: #EEEEEE;
      float: left;
      width: calc(76.6% - 25px);
      height: 100%;
      padding: 10px;
      margin: 10px 0 10px 5px;
      overflow-y: auto;
    }

    footer {
      clear: both;
      background-color: #EEEEEE;
      padding: 10px;
      text-align: center;
    }